[submodule "www"]
	path = www
	url = https://github.com/afreisinger/www.git
[submodule "nginx-proxy-ssl"]
	path = nginx-proxy-ssl
	url = https://github.com/afreisinger/nginx-proxy-ssl.git
[submodule "nginx-proxy"]
	path = nginx-proxy
	url = https://github.com/afreisinger/nginx-proxy.git
[submodule "portainer"]
	path = portainer
	url = https://github.com/afreisinger/portainer.git
[submodule "bitnami-wordpress-nginx"]
	path = bitnami-wordpress-nginx
	url = https://github.com/afreisinger/bitnami-wordpress-nginx.git
[submodule "mosquitto-auth"]
	path = mosquitto-auth
	url = https://github.com/afreisinger/mosquitto-auth.git
[submodule "nodered"]
	path = nodered
	url = https://github.com/afreisinger/nodered.git
[submodule "nodered-mqtt"]
	path = nodered-mqtt
	url = https://github.com/afreisinger/nodered-mqtt.git
